#body {
	border:1px solid gray;
	min-height:500px;
	width : 449px;
	overflow:hidden;
	margin:20px auto;
}
ul#digits {
	width : 450px;
	overflow:hidden;
	list-style:none;
	font-family:Arial, sans-serif;
	font-size:35px;
	font-weight:bold;
	}
	ul#digits li {
		border:1px solid gray;
		border-left:none;
		border-top:none;
		cursor:pointer;
		display:block;
		float:left;
		height:50px;
		line-height:49px;
		overflow:hidden;
		position:relative;
		text-align:center;
		width:49px;
		}
		ul#digits li.empty {
			background-color:#AAA;
			cursor:default;
			}
			ul#digits li.empty span {
				border:none;
				}
		ul#digits li span {
			display:block;
			height:50px;
			overflow:hidden;
			position:absolute;
			width:49px;
			-moz-user-select:none;
			-webkit-user-select:none;
			}
			ul#digits li.selected span {
				border:1px solid red;
				width:47px;
				height:48px;
				}
			