#body {
	border:1px solid gray;
	min-height:500px;
	width : 449px;
	overflow:hidden;
	margin:20px auto;
}
ul#digits {
	width : 450px;
	overflow:hidden;
	list-style:none;
	font-family:Arial, sans-serif;
	font-size:35px;
	font-weight:bold;
	}
	ul#digits li {
		display:block;
		float:left;
		width:39px;
		line-height:40px;
		padding:5px;
		border:1px solid gray;
		border-left:none;
		border-top:none;
		text-align:center;
	}